.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightslategray;
  padding: 10px 20px;
  font-family: "Comic Sans MS", sans-serif;
}

/* This class consists of the gold image and the name of the website */
.left {
  display: flex;
  align-items: center;
}

.left img {
  height: 40px;
  margin-right: 10px;
}

.left h3 {
  margin: 0;
  font-size: 1.5rem;
  color: whitesmoke;
}

/* The navigation links on the right side of the header */
.nav-links {
  display: flex;
  gap: 20px;
}

/* Each link's style */
.nav_link {
  padding: 5px;
  font-weight: bold;
  position: relative;
  color: whitesmoke;
}

/* Pseudo underline element that is initially invisible*/
.nav_link::after {
  content: "";
  display: block;
  color: whitesmoke;
  width: 0%;
  height: 2px;
  background: whitesmoke;
  transition: width 0.3s;
  position: absolute;
  bottom: -3px;
  left: 0;
}

/* When hovered over, the nav_link underline appears */
.nav_link:hover::after {
  width: 100%;
}

/* When hovered over, the nav_link color stays the same */
.nav_link:hover {
  color: whitesmoke;
}
