.body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  display: flex;
  flex-direction: column;
}

.landing_page {
  display: flex;
  flex: 1;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-image: url("../assets/background.png");
}

.landing_page h1 {
  color: whitesmoke;
  font-size: 28px;
  padding: 10px;
}

.info {
  color: whitesmoke;
  padding: 10px;
}

.warning {
  color: rgb(184,0,0);
  font-weight: bold;
  padding: 10px;
}

.prediction_link_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color: lightslategray;
  border-radius: 10px;
  padding: 10px;
}

.prediction_link {
  padding: 3px;
  color: whitesmoke;
  font-weight: bold;
  position: relative;
}

.prediction_link::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background: whitesmoke;
  transition: width 0.3s;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.prediction_link:hover::after {
  width: 100%;
}

.prediction_link:hover {
  color: whitesmoke;
}
